@import '../../../variables';
@import '../../../breakpoints';

@include max-xl{

 .cart_items_container{
  position: absolute;
  background-color: rgb(255, 255, 255);
  padding: 1.5rem 1.5rem 4rem 1.5rem;
  z-index: 30;
  right: 0;
  top: 8rem;
  right: 8rem;
  width: 25rem;
  min-height: 30rem;
  border-radius: 5px;
  @include fadeIn;

  .item_container{
   margin: 1rem 0;
   display: grid;
   grid-template-columns: 6rem 1fr 3rem 1rem;
   grid-gap: 0 1rem;

   .image_container {
     position: relative;
     box-shadow: 0 0 5px rgba(0, 0, 0, 0.907);
     border-radius: 8px;
     overflow: hidden;
     width: 6rem;
     height: 6rem;
   }

   .info_container{
    align-self: center;

    .name{
     font-weight: 500;
     margin: 0;
    }

    .author{
     font-weight: 300;
     margin: 0;
    }
   }
   .price{
    font-size: 1.25rem;
    align-self: center;
    font-weight: 500;
    justify-self: right;
   }

   .cancel{
     align-self: center;
     font-weight: 700;

     &:hover{
       color: #982929;
       cursor: pointer;
     }
   }
  }

  .checkout_link{
    position: absolute;
    bottom: 1rem;
    background-color: $clr-black;
    width: 22rem;
    text-align: center;
    line-height: 2.5rem;
    border-radius: 5px;
    color: $clr-white;
  }
 }
}

@include max-lg{
 
 .cart_items_container{
  right: 5rem;
  top: 6rem;
 }
}

@include max-md{

 .cart_items_container{
  right: 4rem;
  top: 6rem;
 }
}
@include max-h{

 .cart_items_container{
  top: 4rem;
  right: 6rem;
 }
}
@include max-tablet{

 .cart_items_container{
  right: 0;
  width: 90%;
  left: 5%;
  top: 5rem;

  .checkout_link{
    width: calc(100% - 3rem);
  }
 }
}
