@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 3000px) {
  .heading {
    text-transform: capitalize;
    height: 5rem;
    font-size: 2.5rem;
    font-weight: 400;
    margin: 10rem 8rem 0;
  }
  .paintings_container {
    height: 35rem;
  }
  .paintings_container .carousel {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 360rem;
  }
  .paintings_container .carousel .wrapper_1,
.paintings_container .carousel .wrapper_2 {
    display: flex;
    width: 180rem;
    position: absolute;
    justify-content: space-around;
    flex-flow: row nowrap;
    background-color: #fff;
  }
  .paintings_container .carousel .wrapper_1 {
    left: 0;
    -webkit-animation: wrapper_1_anim 60s linear infinite;
            animation: wrapper_1_anim 60s linear infinite;
  }
  .paintings_container .carousel .wrapper_2 {
    left: 180rem;
    -webkit-animation: wrapper_2_anim 60s linear infinite;
            animation: wrapper_2_anim 60s linear infinite;
  }
}
@media (max-width: 1024px) {
  .heading {
    font-size: 2rem;
    height: 4rem;
  }
  .paintings_container {
    width: 240rem;
    height: 32rem;
  }
  .paintings_container .carousel {
    height: 22rem;
    width: 240rem;
  }
  .paintings_container .wrapper_1,
.paintings_container .wrapper_2 {
    width: 120rem;
  }
  .paintings_container .wrapper_1 {
    -webkit-animation: wrapper_1_anim 40s linear infinite;
            animation: wrapper_1_anim 40s linear infinite;
  }
  .paintings_container .wrapper_2 {
    left: 120rem;
    -webkit-animation: wrapper_2_anim 40s linear infinite;
            animation: wrapper_2_anim 40s linear infinite;
  }
}
@media (max-width: 600px) {
  .heading {
    font-size: 2rem;
    height: 5rem;
    text-align: center;
  }
  .paintings_container {
    height: 420rem;
    width: 100%;
    text-align: center;
  }
  .paintings_container .carousel {
    display: block;
    height: 420rem;
    width: 100%;
  }
  .paintings_container .carousel .wrapper_1,
.paintings_container .carousel .wrapper_2 {
    height: 210rem;
    width: 100%;
    position: static;
    align-items: center;
    flex-flow: column nowrap;
  }
}
@media (min-width: 600px) {
  @-webkit-keyframes wrapper_1_anim {
    0% {
      left: 0;
    }
    50% {
      left: -180rem;
    }
    51% {
      left: 180rem;
      visibility: hidden;
    }
    100% {
      visibility: visible;
      left: 0rem;
    }
  }
  @keyframes wrapper_1_anim {
    0% {
      left: 0;
    }
    50% {
      left: -180rem;
    }
    51% {
      left: 180rem;
      visibility: hidden;
    }
    100% {
      visibility: visible;
      left: 0rem;
    }
  }
  @-webkit-keyframes wrapper_2_anim {
    0% {
      left: 180rem;
    }
    100% {
      left: -180rem;
    }
  }
  @keyframes wrapper_2_anim {
    0% {
      left: 180rem;
    }
    100% {
      left: -180rem;
    }
  }
}/*# sourceMappingURL=featured_paintings.module.css.map */