@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 3000px) {
  .heading {
    text-transform: capitalize;
    height: 5rem;
    font-size: 2.5rem;
    font-weight: 400;
    margin: 10rem 8rem 0;
  }
  .paintings_container {
    height: 31rem;
    position: relative;
  }
  .paintings_container .carousel {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 26rem;
    width: 360rem;
  }
  .paintings_container .carousel .wrapper_1, .paintings_container .carousel .wrapper_2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 180rem;
    position: absolute;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  .paintings_container .carousel .wrapper_1 {
    left: 0;
    -webkit-animation: wrapper_1_anim 60s linear infinite;
            animation: wrapper_1_anim 60s linear infinite;
  }
  .paintings_container .carousel .wrapper_2 {
    left: 180rem;
    -webkit-animation: wrapper_2_anim 60s linear infinite;
            animation: wrapper_2_anim 60s linear infinite;
  }
}

@media (max-width: 1024px) {
  .heading {
    font-size: 2rem;
    height: 4rem;
  }
  .paintings_container {
    width: 240rem;
  }
  .paintings_container .carousel {
    height: 22rem;
    width: 240rem;
  }
  .paintings_container .wrapper_1,
  .paintings_container .wrapper_2 {
    width: 120rem;
  }
  .paintings_container .wrapper_1 {
    -webkit-animation: wrapper_1_anim 40s linear infinite;
            animation: wrapper_1_anim 40s linear infinite;
  }
  .paintings_container .wrapper_2 {
    left: 120rem;
    -webkit-animation: wrapper_2_anim 40s linear infinite;
            animation: wrapper_2_anim 40s linear infinite;
  }
}

@media (max-width: 600px) {
  .heading {
    font-size: 2rem;
    height: 5rem;
    text-align: center;
  }
  .paintings_container {
    height: 420rem;
    width: 100%;
    text-align: center;
  }
  .paintings_container .carousel {
    display: block;
    height: 420rem;
    width: 100%;
  }
  .paintings_container .carousel .wrapper_1,
  .paintings_container .carousel .wrapper_2 {
    height: 210rem;
    width: 100%;
    position: static;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
}

@media (min-width: 600px) {
  @-webkit-keyframes wrapper_1_anim {
    0% {
      left: 0;
      visibility: visible;
    }
    50% {
      left: -180rem;
      visibility: hidden;
    }
    51% {
      left: 180rem;
      visibility: hidden;
    }
    100% {
      left: 0rem;
      visibility: visible;
    }
  }
  @keyframes wrapper_1_anim {
    0% {
      left: 0;
      visibility: visible;
    }
    50% {
      left: -180rem;
      visibility: hidden;
    }
    51% {
      left: 180rem;
      visibility: hidden;
    }
    100% {
      left: 0rem;
      visibility: visible;
    }
  }
  @-webkit-keyframes wrapper_2_anim {
    0% {
      left: 180rem;
    }
    100% {
      left: -180rem;
    }
  }
  @keyframes wrapper_2_anim {
    0% {
      left: 180rem;
    }
    100% {
      left: -180rem;
    }
  }
}
/*# sourceMappingURL=featured_paintings.module.css.map */