@media (max-width: 10240px) {
  .paintings_container {
    height: 31rem;
  }
  .paintings_container .heading {
    text-transform: capitalize;
    height: 5rem;
    font-size: 3rem;
    font-weight: 400;
    margin: 0 8rem;
  }
  .paintings_container .carousel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 26rem;
    overflow-x: hidden;
    width: 360rem;
  }
  .paintings_container .carousel .wrapper_1, .paintings_container .carousel .wrapper_2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 180rem;
    position: absolute;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  .paintings_container .carousel .wrapper_1 {
    left: 0;
    -webkit-animation: wrapper_1_anim 60s linear infinite;
            animation: wrapper_1_anim 60s linear infinite;
  }
  .paintings_container .carousel .wrapper_2 {
    left: 180rem;
    -webkit-animation: wrapper_2_anim 60s linear infinite;
            animation: wrapper_2_anim 60s linear infinite;
  }
}

@media (max-width: 1024px) {
  .paintings_container {
    height: 28rem;
  }
  .paintings_container .heading {
    margin: 0 5rem;
    font-size: 2.5rem;
    height: 4rem;
  }
  .paintings_container .carousel {
    height: 24rem;
  }
}

@media (max-width: 768px) {
  .paintings_container {
    height: 25rem;
  }
  .paintings_container .heading {
    font-size: 2rem;
    height: 3rem;
    margin: 0;
    text-align: center;
  }
  .paintings_container .carousel {
    height: 22rem;
    width: 300rem;
  }
  .paintings_container .carousel .wrapper_1,
  .paintings_container .carousel .wrapper_2 {
    width: 150rem;
  }
  .paintings_container .carousel .wrapper_1 {
    left: 0;
    -webkit-animation: wrapper_1_anim_mobile 60s linear infinite;
            animation: wrapper_1_anim_mobile 60s linear infinite;
  }
  .paintings_container .carousel .wrapper_2 {
    left: 150rem;
    -webkit-animation: wrapper_2_anim_mobile 60s linear infinite;
            animation: wrapper_2_anim_mobile 60s linear infinite;
  }
}

@-webkit-keyframes wrapper_1_anim {
  0% {
    left: 0;
  }
  49% {
    opacity: 1;
  }
  50% {
    left: -180rem;
    opacity: 0;
  }
  51% {
    opacity: 0;
    left: 180rem;
  }
  52% {
    opacity: 1;
  }
  100% {
    left: 0;
  }
}

@keyframes wrapper_1_anim {
  0% {
    left: 0;
  }
  49% {
    opacity: 1;
  }
  50% {
    left: -180rem;
    opacity: 0;
  }
  51% {
    opacity: 0;
    left: 180rem;
  }
  52% {
    opacity: 1;
  }
  100% {
    left: 0;
  }
}

@-webkit-keyframes wrapper_2_anim {
  0% {
    left: 180rem;
  }
  100% {
    left: -180rem;
  }
}

@keyframes wrapper_2_anim {
  0% {
    left: 180rem;
  }
  100% {
    left: -180rem;
  }
}

@-webkit-keyframes wrapper_1_anim_mobile {
  0% {
    left: 0;
  }
  49% {
    opacity: 1;
  }
  50% {
    left: -150rem;
    opacity: 0;
  }
  51% {
    opacity: 0;
    left: 150rem;
  }
  52% {
    opacity: 1;
  }
  100% {
    left: 0;
  }
}

@keyframes wrapper_1_anim_mobile {
  0% {
    left: 0;
  }
  49% {
    opacity: 1;
  }
  50% {
    left: -150rem;
    opacity: 0;
  }
  51% {
    opacity: 0;
    left: 150rem;
  }
  52% {
    opacity: 1;
  }
  100% {
    left: 0;
  }
}

@-webkit-keyframes wrapper_2_anim_mobile {
  0% {
    left: 150rem;
  }
  100% {
    left: -150rem;
  }
}

@keyframes wrapper_2_anim_mobile {
  0% {
    left: 150rem;
  }
  100% {
    left: -150rem;
  }
}
/*# sourceMappingURL=featured_paintings.module.css.map */