.category_name {
  margin-left: 12rem;
  font-weight: 400;
}

.featured_paintings_container {
  margin-top: 3rem;
  width: 360rem;
  height: 40rem;
  position: relative;
}

.featured_paintings_container:hover .images_wrapper {
  -webkit-animation-play-state: paused !important;
          animation-play-state: paused !important;
}

.featured_paintings_container .images_wrapper {
  position: absolute;
  width: 180rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.featured_paintings_container .images_wrapper .image_container {
  width: 22.5rem;
  height: 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;
}

.featured_paintings_container .images_wrapper .image_container:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0 2rem rgba(0, 0, 0, 0.19);
          box-shadow: 0 0 2rem rgba(0, 0, 0, 0.19);
}

.featured_paintings_container .images_wrapper .image_container:hover .image {
  -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.464);
          box-shadow: 0 0 1rem rgba(0, 0, 0, 0.464);
}

.featured_paintings_container .images_wrapper .image_container .image {
  display: block;
  position: relative;
  width: 18.5rem;
}

.featured_paintings_container .images_wrapper .image_container .image_name {
  margin: 1rem 0 0;
  font-weight: 500;
  font-size: 1.25rem;
}

.featured_paintings_container .images_wrapper .image_container .artist_name {
  margin: 0;
  color: #666666;
}

#wrapper_1 {
  left: 0;
  -webkit-animation: wrapper_1_anim 30s linear infinite;
          animation: wrapper_1_anim 30s linear infinite;
}

#wrapper_2 {
  left: 180rem;
  -webkit-animation: wrapper_2_anim 30s linear infinite;
          animation: wrapper_2_anim 30s linear infinite;
}

@-webkit-keyframes wrapper_1_anim {
  0% {
    left: 0;
  }
  49% {
    opacity: 1;
  }
  50% {
    left: -180rem;
    opacity: 0;
  }
  51% {
    opacity: 0;
    left: 180rem;
  }
  52% {
    opacity: 1;
  }
  100% {
    left: 0;
  }
}

@keyframes wrapper_1_anim {
  0% {
    left: 0;
  }
  49% {
    opacity: 1;
  }
  50% {
    left: -180rem;
    opacity: 0;
  }
  51% {
    opacity: 0;
    left: 180rem;
  }
  52% {
    opacity: 1;
  }
  100% {
    left: 0;
  }
}

@-webkit-keyframes wrapper_2_anim {
  0% {
    left: 180rem;
  }
  100% {
    left: -180rem;
  }
}

@keyframes wrapper_2_anim {
  0% {
    left: 180rem;
  }
  100% {
    left: -180rem;
  }
}

.featured_artists_container {
  margin-top: 8rem;
  background-color: #F4F4F2;
  width: 100%;
  height: calc(100vh - 38rem);
}

.featured_artists_container .featured_heading {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 3rem 0 2rem 12rem;
  text-transform: uppercase;
}

.featured_artists_container .flex_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.featured_artists_container .flex_container .avatar_container {
  height: 7rem;
  border: 1px solid #8787874d;
  margin: 0 1rem;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.featured_artists_container .flex_container .avatar_container .avatar_image {
  float: left;
}

.featured_artists_container .flex_container .avatar_container .info {
  margin: 0 1rem 0;
}

.featured_artists_container .flex_container .avatar_container .info .avatar_name {
  margin: 0;
}

.featured_artists_container .flex_container .avatar_container .info .avatar_location {
  color: #878787db;
  margin: 0;
}
/*# sourceMappingURL=home.module.css.map */