@import '../../variables';
@import '../../breakpoints';

@include max-xl {

 .view_container{
  background-color: $product-view-bg;
  position: absolute;
  height: 100%;
  top: 0;
  z-index: -10;
  width: 50%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding-top: 10rem;
  transition: transform 1s;
  
    .btns{
      display: flex;
      width: 15rem;
      justify-content: space-between;
      margin-top: 2rem;
    }
  }
}

@include max-lg {

 .view_container {
  padding-top: 8rem;
 }
}

@include max-md {

 .view_container {
  padding-top: 6rem;
  width: 100%;
 }
}

@include max-h{
  
  .view_container {
      padding-top: 6rem;
      width: 100%;
    }
}

@include max-tablet {

 .view_container {
   padding-top: 5rem;
  }
}

@include max-sm {

 .view_container {
  padding-top: 4rem;
 }
}


.hidden{
  transform: translateX(0);
}

.visible{
  transform: translateX(-100%);
}