@import '../../variables';
@import '../../breakpoints';

@include max-xl{
 .image_container{
  position: relative;
  height: 70%;
  width: 70%;
  filter: drop-shadow(0 0 16px $image-shadow-clr);
  }
}


