@import '../../../variables';
@import '../../../breakpoints';

@include max-xl{

 .add_to_cart{
  width: 100%;
  height: 4rem;
  border: none;
  background-color: $clr-black;
  color: $clr-white;
  text-transform: uppercase;
  font-size: 1.15rem;
  font-weight: 100;
  margin-top: 1rem;
  &:hover{
   cursor: pointer;
  }
 }
}