@import '../../variables';
@import '../../breakpoints';


@include max-xl{

 .products_container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-auto-rows: 25rem;
  grid-gap: 3rem;
 }
}

@include max-sm{

 .products_container{
  grid-template-columns: 1fr;
 }
}
