@import '../../../variables';
@import '../../../breakpoints';

@include max-xl{

 .image_container{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -20;
  background-color: #CBCBCB;
 }

 .product_image{
  position: absolute;
  width: 100%;
  filter: drop-shadow(0 0 10px #00000056);
  height: calc(10vw + 15rem);
  z-index: -20;
  top: 10%;
 }
}

@include max-tablet{

 .product_image{
  height: 20rem;
 }
}

@include max-sm{

  .product_image{
    top: 5%;
  }
}

@include room-max-h {

  .product_image {
    height: 40vh;
  }
}
