@import '../../variables';
@import '../../responsive';

@include desktop {

  .painting_container{
   height: 26rem;
   display: flex;
   flex-flow: column nowrap;
   justify-content: center;

   .image_container{
    position: relative;
    width: 22rem;
    height: 22rem;
   }

   .painting_name,
   .artist_name{
    margin: 0;
    text-align: center;
   }

   &:hover{
      box-shadow: 0 0 10px #00000021;
    }
  }
}

@include tablet {

  .painting_container{
    height: 24rem;

    .image_container {
      width: 20rem;
      height: 20rem;
    }
  }
}

@include mobile {

  .painting_container{
    height: 22rem;

    .image_container{
      width: 18rem;
      height: 18rem;
    }
  }
}