@import '../variables';
@import '../responsive';

@include desktop {
 .stick_container{
  position: relative;
  width: 100%;
  height: 12rem;
  border-bottom: 1px solid black;
 }
}

@include tablet {
 .stick_container{
  height: 10rem;
 }
}

@include mobile {
 .stick_container{
  height: 8rem;
 }
}