@import '../variables';
@import '../breakpoints';

@include max-xl {
 
 .stick_container{
  position: relative;
  width: 100%;
  height: 10rem;
  border-bottom: 1px solid black;
 }
}

@include max-md {

 .stick_container{
  height: 8rem;
 }
}


@include max-tablet{

 .stick_container{
  display: none;
 }
}