@import '../../variables';
@import '../../breakpoints';

@include max-xl{
 
 .btn_container{
    border: none;
    background-color: $clr-white;
    padding: 0%;
    position: relative;
    color: $clr-black;

   .back{
      text-transform: uppercase;
      letter-spacing: 5px;
      font-size: 0.8rem;
      margin-left: 1.25rem;
    }

   .arrow_container{
      position: absolute;
      transition: transform 0.3s
    }
  
    &:hover{
      cursor: pointer;

      .arrow_container {
        transform: translateX(-0.5rem);
      }
    }
  }
}
