@import '../../variables';
@import '../../breakpoints';

@include max-xl{
 .details_container{
  background-color: $clr-white;
  position: absolute;
  width: 50%;
  right: 0;
  top: 0;
  height: 100%;
  z-index: -9;
  padding: 10rem 0;
 }
}