@import '../variables';
@import '../breakpoints';

@include max-xl{

 .category_container{
  padding: 10rem 8rem 0;
 }
}

@include max-tablet{

 .category_container{
  padding: 10rem 2rem 0;
 }
}

@include max-sm{

 .category_container{
  padding: 10rem 1rem;
 }
}