//colors
$nav-mobile-bg-clr: #878787db;
$clr-white: #fff;
$clr-grey: #F4F4F2;
$clr-artist-border: #8787874d;
$clr-artist-location:#878787db;
$clr-text-grey: #666666;
$clr-black: #000;
$artists-bg-clr: #F4F4F2;

//layout
$header-bg-clr: $clr-white;
// product
$product-view-bg: $clr-grey;
$grey-line-clr: #0000006d;
$image-shadow-clr: #0000003f;
$view-btns-clr: $clr-text-grey;