@import '../../variables';
@import '../../responsive';

@include desktop {

 .artists_container{
  height: 30rem;
  background-color: $artists-bg-clr;
  overflow-y: hidden;
  
  .artists_heading{
   text-transform: uppercase;
   color: $clr-text-grey;
   font-size: 1.25rem;
   font-weight: 500;
   margin: 2rem 8rem;
  }

  .artists{
   display: flex;
   flex-flow: row nowrap;
   align-items: center;
   justify-content: space-around;
  }
 }
}

@include tablet {
 
 .artists_container{
  height: 40rem;

  .artists_heading {
   text-align: center;
  }
  .artists{
   flex-flow: column nowrap;
  } 
 }
}


@include mobile {

 .artists_container{
  min-height: 50rem;
 }
}