@import '../../variables';
@import '../../responsive';

@include desktop {

 .header_container{
  display: grid;
  height: 10rem;
  grid-template-columns: 154px 1fr 24px;
  grid-gap: 2rem;
  align-items: center;
  padding: 0 8rem;
 }
}

@include tablet {

 .header_container{
  height: 8rem;
  grid-gap: 1rem;
  padding: 0 5rem;
 }
}

@include mobile {
 
 .header_container{
  height: 6rem;
  padding: 0 2rem;
 }
}