@import '../../variables';
@import '../../breakpoints';

@include max-xl{
 
 .hamburger{
  display: none;
 }

 .nav_container{
   justify-self: flex-end;
 
  .list_container{

   .link{
    display: inline-block;
    list-style: none;
    text-transform: uppercase;
    font-size: 1.25rem;
    margin: 0 1rem;
   }
  }
 }
}

@include max-lg {

 .nav_container{

  .list_container{

   .link{
    font-size: 1rem;
    margin: 0.5rem;
   }
  }
 }
}

@include max-md {

 .nav_container {
 
   .list_container {
 
    .link {
     font-size: 0.8rem;
    }
   }
  }
}

@include max-tablet {}

@include max-sm {}